exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.md
include LICENSE
include install.sh
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
recursive-include phyloward *.hmm
recursive-include phyloward config.json
